<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!--     <script src="js/redneuronal.js"></script> -->
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
<!-- 	<script src="/js/datatable.js"></script> -->
<title>Registro de Clase</title>
<style>
.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader2 {
  position: absolute;
  left: 43%;
  top: 60%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>
</head>
<body>


	<div class="loader">
	</div>
	
	<div class="loader2">
		<p>Preparando modelo predictivo...</p>
	</div>
	<div class="container animate-bottom" style="display:none;" id="myDiv" >
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-user" style="font-size: 2em;"></i>
							</h3>
							<h2 class="text-center">Registro de Clase</h2>
							<div class="panel-body">
								<div th:if="${param.success}">
									<div class="alert alert-info">!Se registro la clase
										satisfactoriamente!</div>
								</div>

								<form id="frmClase" method="post">

									<!-- 
									<div class="form-group">
										<h2>Bienvenido</h2>
										<div sec:authentication="name"></div>
									</div>
									 -->
									<div class="form-group">
										<label class="form-control">Fecha de clase</label> <input
											id="fechaConsulta" data-date-format="yyyy-mm-dd"
											class="form-control" width="276"
											placeholder="Confirmar fecha" />
									</div>
									<div class="form-group">
										<label class="form-control">Sección</label> <select
											disabled="disabled">
											<option id="1">3 años A</option>
										</select>
									</div>
									<div class="form-group">
										<button type="button" onclick="consultar()"
											class="btn btn-success btn-block">Consultar</button>
									</div>
								</form>
								<table id="alumnosTable" class="display">

									<!-- Header Table -->
									<thead>
										<tr>
											<th>Id</th>
											<th>Documento</th>
											<th>Nombre</th>
											<th>Email</th>
											<th>Telefono</th>
											<th>¿Calificado?</th>
											<th>Calificar</th>
											<th>Predecir</th>
										</tr>
									</thead>
									<!-- Footer Table -->
									<tfoot>
										<tr>
											<th>Id</th>
											<th>Documento</th>
											<th>Nombre</th>
											<th>Email</th>
											<th>Telefono</th>
											<th>¿Calificado?</th>
											<th>Calificar</th>
											<th>Predecir</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="mdCalificacion" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Calificacion</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="hidden" id="idAlumno" name="idAlumno" /> <label
							class="form-control">Documento</label> <input id="docAlumno"
							name="docAlumno" readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="form-control">Nombre del Alumno</label> <input
							id="nombreAlumno" name="nombreAlumno" readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="form-control">Actividad</label> <select
							id="selActividad" name="selActividad">
							<option value="">---Seleccione---</option>
							<option value="1">Actidad 1</option>
							<option value="2">Actidad 2</option>
							<option value="3">Actidad 3</option>
						</select>
					</div>
					<div class="form-group">
						<label class="form-control">Recursos Didácticos</label>
						<!--              	<select id="selRecurso" name="selRecurso"> -->
						<!--              	</select> -->
						<div id="dvRecurso"></div>
					</div>
					<!--             <div class="form-group"> -->
					<!--              <label class="form-control">¿Lo utilizó?</label> -->
					<!--              	<input type="radio" name="utilizo" value="0"> SI</input> -->
					<!-- 				<input type="radio" name="utilizo" value="1"> NO</input> -->
					<!--             </div> -->

				</div>
				<div class="modal-footer">
					<button type="button" onclick="grabarClase()"
						class="btn btn-default" data-dismiss="modal">Guardar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>

		</div>
	</div>
	
	<div id="mdPrediccion" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Predicción</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="hidden" id="idAlumnoPred" name="idAlumnoPred" /> <label
							class="form-control">Documento</label> <input id="docAlumnoPred"
							name="docAlumnoPred" readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="form-control">Nombre del Alumno</label> <input
							id="nombreAlumnoPred" name="nombreAlumnoPred" readonly="readonly" />
					</div>
					<div class="form-group">
						<label class="form-control">Nombre del Alumno</label>
					</div>
					<div id="dvEstilo"></div>
					<div id="dvGrafico">
						<canvas id="speedChart" width="250" height="100"></canvas>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>

		</div>
	</div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	    var table;
	    $(document).ready( function () {
	//    	 $('#fechaConsulta').datepicker();
	
// 	   		$("#fechaConsulta").datepicker({ dateFormat: 'yy-mm-dd' });
	   		$("#fechaConsulta").datepicker({format: 'dd/mm/yyyy'});
	//    	var table = $('#alumnosTable').DataTable( {
	//    	    paging: false
	//    	} );
	   		$(".loader").css("visibility", "hidden");
			$(".loader2").css("visibility", "hidden");
	    	  
			document.getElementById("myDiv").style.display = "block";
			//iniciar();
// 			iniciar();
	   });
	    
	    async function iniciar () {
	    	const [xTrain, yTrain, xTest, yTest] = getEstilosData(.2);
	    	const model = tf.sequential();
			model = await EntrenarModelo(xTrain, yTrain, xTest, yTest);
	    }
	    
	    function abrirCalificacion(id, nombre, doc){
	    	console.log(id);
	    	console.log(nombre);
	    	console.log(doc);
	    	$('#nombreAlumno').val(nombre);
	    	$('#docAlumno').val(doc);
	    	$('#idAlumno').val(id);
	    	
	    	$('#mdCalificacion').modal('show');
	    }
	    
	    function abrirPrediccion(id, nombre, doc){
	    	console.log(id);
	    	console.log(nombre);
	    	console.log(doc);
	    	
	    	var ff = $('#fechaConsulta').val().split('/');
			var formattedDate = new Date(ff[2]+'/'+ff[1]+'/'+ff[0]);
			var d = formattedDate.getDate();
			var m =  formattedDate.getMonth();
			m += 1;  // JavaScript months are 0-11
			var y = formattedDate.getFullYear();
			
			var fecha = "" + pad(d, 2) + pad(m, 2) + y;
	    	
	    	$.ajax({
	    		url: 'http://localhost:8080/alumno/getalumno/'+fecha+'/1/'+id,
	    		type:"GET",
	    		success: function(respuesta) {
	    			console.log(respuesta);
	    			$('#nombreAlumnoPred').val(nombre);
	    	    	$('#docAlumnoPred').val(doc);
	    	    	$('#idAlumnoPred').val(id);
	    	    	$('#dvEstilo').empty();
	    			
	    			var val1 = respuesta.val1;
	    			var val2 = respuesta.val2;
	    			var val3 = respuesta.val3;
	    			var val4 = respuesta.val4;
	    			var val5 = respuesta.val5;
	    			var val6 = respuesta.val6;
	    			var val7 = respuesta.val7;
	    			var val8 = respuesta.val8;
	    			var val9 = respuesta.val9;
	    			var val10 = respuesta.val10;
	    			var val11 = respuesta.val11;
	    			var val12 = respuesta.val12;
	    			
	    			// 80% data para entrenamiento y 20% para pruebas
						var arry = [val1, val2, val3, val4, val5, val6, val7, val8, val9, val10, val11, val12];
						console.log('arry', arry);
						const input = tf.tensor2d(arry, [1, 12]);
						const prediccion = model.predict(input).dataSync();
						console.log('Prediccion', prediccion);
						 
						const data = [
						  {index: 0, value: (prediccion[0] * 100).toFixed(2)},
						  {index: 1, value: (prediccion[1] * 100).toFixed(2)},
						  {index: 2, value: (prediccion[2] * 100).toFixed(2)},
						  {index: 3, value: (prediccion[3] * 100).toFixed(2)},
						  {index: 4, value: (prediccion[4] * 100).toFixed(2)},
						  {index: 5, value: (prediccion[5] * 100).toFixed(2)},
						  {index: 6, value: (prediccion[6] * 100).toFixed(2)},
						  {index: 7, value: (prediccion[7] * 100).toFixed(2)}
						];
						
						// Render to visor
						const surface = { name: 'Bar chart', tab: 'Resultados' };
						tfvis.render.barchart(surface, data);
						
						const data2 = {
						  values: [[(prediccion[0] * 100).toFixed(2), (prediccion[1] * 100).toFixed(2), (prediccion[2] * 100).toFixed(2)],
						           [(prediccion[3] * 100).toFixed(2), (prediccion[4] * 100).toFixed(2), (prediccion[5] * 100).toFixed(2)], 
						           [(prediccion[6] * 100).toFixed(2), (prediccion[7] * 100).toFixed(2)]
						           ]
						  };        
						// Render to visor
						const surface2 = { name: 'Confusion Matrix with Excluded Diagonal', tab: 'Resultados' };
						
						tfvis.render.confusionMatrix(surface2, data2, {
						  shadeDiagonal: true
						});
	    			
	    			
		    			const porcEstilo1 = (prediccion[0]*100).toFixed(2);
		    			const porcEstilo2 = (prediccion[1]*100).toFixed(2);
		    			const porcEstilo3 = (prediccion[2]*100).toFixed(2);
		    			const porcEstilo4 = (prediccion[3]*100).toFixed(2);
		    			const porcEstilo5 = (prediccion[4]*100).toFixed(2);
		    			const porcEstilo6 = (prediccion[5]*100).toFixed(2);
		    			const porcEstilo7 = (prediccion[6]*100).toFixed(2);
		    			const porcEstilo8 = (prediccion[7]*100).toFixed(2);
		    			
		    			console.log('salida 1:', prediccion[0]);
		    			console.log('salida 2:', prediccion[1]);
		    			
		    			const estilo1 = $('<div><label>LINGÜÍSTICO- VERBAL:</label> <input type="range" min="0" max="100" value="'+porcEstilo1+'" class="slider" id="estilo1" disabled="disabled"></input><label id="rangeText1">Valor: %'+porcEstilo1+'</label></div>');
		    			const estilo2 = $('<div><label>LÓGICA MATEMÁTICA:</label> <input type="range" min="0" max="100" value="'+porcEstilo2+'" class="slider" id="estilo2" disabled="disabled"></input><label id="rangeText2">Valor: %'+porcEstilo2+'</label></div>');
		    			const estilo3 = $('<div><label>ESPACIAL:</label> <input type="range" min="0" max="100" value="'+porcEstilo3+'" class="slider" id="estilo3" disabled="disabled"></input><label id="rangeText3">Valor: %'+porcEstilo3+'</label></div>');
		    			const estilo4 = $('<div><label>CORPORAL KINESTÉSICA:</label> <input type="range" min="0" max="100" value="'+porcEstilo4+'" class="slider" id="estilo4" disabled="disabled"></input><label id="rangeText4">Valor: %'+porcEstilo4+'</label></div>');
		    			const estilo5 = $('<div><label>MUSICAL:</label> <input type="range" min="0" max="100" value="'+porcEstilo5+'" class="slider" id="estilo5" disabled="disabled"></input><label id="rangeText5">Valor: %'+porcEstilo5+'</label></div>');
		    			const estilo6 = $('<div><label>INTERPERSONAL:</label> <input type="range" min="0" max="100" value="'+porcEstilo6+'" class="slider" id="estilo6" disabled="disabled"></input><label id="rangeText6">Valor: %'+porcEstilo6+'</label></div>');
		    			const estilo7 = $('<div><label>INTRAPERSONAL:</label> <input type="range" min="0" max="100" value="'+porcEstilo7+'" class="slider" id="estilo7" disabled="disabled"></input><label id="rangeText7">Valor: %'+porcEstilo7+'</label></div>');
		    			const estilo8 = $('<div><label>NATURALISTA:</label> <input type="range" min="0" max="100" value="'+porcEstilo8+'" class="slider" id="estilo8" disabled="disabled"></input><label id="rangeText8">Valor: %'+porcEstilo8+'</label></div>');
		    			estilo1.appendTo('#dvEstilo');
		    			estilo2.appendTo('#dvEstilo');
		    			estilo3.appendTo('#dvEstilo');
		    			estilo4.appendTo('#dvEstilo');
		    			estilo5.appendTo('#dvEstilo');
		    			estilo6.appendTo('#dvEstilo');
		    			estilo7.appendTo('#dvEstilo');
		    			estilo8.appendTo('#dvEstilo');
		    			$('#mdPrediccion').modal('show');
// 		    			var valores = [porcEstilo1,porcEstilo2,porcEstilo3,porcEstilo4,porcEstilo5,porcEstilo6,porcEstilo7,porcEstilo8];
// 		    			var recursos = "1,2,3,4,5,6,7,8";
// 		    			var rsc = "";
		    			
// 		    			$.each(valores, function( index, value ) {
// 		    				  if(index==0){
// 		    						rsc = valores[index];
// 		    					}else{
// 		    						rsc += ","+ valores[index];
// 		    					}
// 		    				});
		    			
// 		    	    	$.ajax({
// 		    	    		url: 'http://localhost:8080/estiloAlumno/grabarEstilo',
// 		    	    		type:"POST",
// 		    	    		data:JSON.stringify({"fecha":fecha, "idAlumno":id, "recursos":recursos, "valores":rsc }),
// 		    	    		contentType:"application/json; charset=utf-8",
// 		    	    		dataType:"json",
// 		    	    		success: function(respuesta) {
// 		    		    			console.log(respuesta);
		    		    			
// 		    		    			$('#mdPrediccion').modal('show');
// 		    		    		},
// 		    		    		error: function() {
// 		    		//     	        console.log("No se ha podido obtener la información");
// 		    		    			$('#mdPrediccion').modal('show');
// 		    		    	    }
// 		    		    	});
	    			
	    		},
	    		error: function() {
	    	        console.log("No se ha podido obtener la información");
	    	        //tfvis.show.modelSummary({name: 'Modelo de Predicción'}, model);
	    	    }
	    	});
	    	
	    }
	    
	    $('#selActividad').on('change', function() {
	    		$('#dvRecurso').empty();
	// 			if($('#selActividad').val() == '1'){
					var check1 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="1"> Cuaderno de Dibujo</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang1"></input><label id="rangeText1">Valor: 0</label></div>');
					var check2 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="2"> Reproductor de sonido</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang2"></input><label id="rangeText2">Valor: 0</label></div>');
					var check3 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="3"> Telefono</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang3"></input><label id="rangeText3">Valor: 0</label></div>');
					var check4 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="4"> Pelota</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang4"></input><label id="rangeText4">Valor: 0</label></div>');
					var check5 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="5"> Puzzle</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang5"></input><label id="rangeText5">Valor: 0</label></div>');
					var check6 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="6"> Flores</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang6"></input><label id="rangeText6">Valor: 0</label></div>');
					var check7 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="7"> Libro de animaciones</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang7"></input><label id="rangeText7">Valor: 0</label></div>');
					var check8 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="8"> Castillo</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang8"></input><label id="rangeText8">Valor: 0</label></div>');
					var check9 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="9"> Plastilina</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang9"></input><label id="rangeText9">Valor: 0</label></div>');
					var check10 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="10"> Cubos</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang10"> </input><label id="rangeText10">Valor: 0</label></div>');
					var check11 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="11"> Papel de seda</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang11"> </input><label id="rangeText11">Valor: 0</label></div>');
					var check12 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="12"> Tambor</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang12"> </input><label id="rangeText12">Valor: 0</label></div>');
					check1.appendTo('#dvRecurso');
					check2.appendTo('#dvRecurso');
					check3.appendTo('#dvRecurso');
					check4.appendTo('#dvRecurso');
					check5.appendTo('#dvRecurso');
					check6.appendTo('#dvRecurso');
					check7.appendTo('#dvRecurso');
					check8.appendTo('#dvRecurso');
					check9.appendTo('#dvRecurso');
					check10.appendTo('#dvRecurso');
					check11.appendTo('#dvRecurso');
					check12.appendTo('#dvRecurso');
					
					$('#rang1').on('input change', function () {
				        $('#rangeText1').text("Valor: "+$(this).val());
				    });
					$('#rang2').on('input change', function () {
				        $('#rangeText2').text("Valor: "+$(this).val());
				    });
					$('#rang3').on('input change', function () {
				        $('#rangeText3').text("Valor: "+$(this).val());
				    });
					$('#rang4').on('input change', function () {
				        $('#rangeText4').text("Valor: "+$(this).val());
				    });
					$('#rang5').on('input change', function () {
				        $('#rangeText5').text("Valor: "+$(this).val());
				    });
					$('#rang6').on('input change', function () {
				        $('#rangeText6').text("Valor: "+$(this).val());
				    });
					$('#rang7').on('input change', function () {
				        $('#rangeText7').text("Valor: "+$(this).val());
				    });
					$('#rang8').on('input change', function () {
				        $('#rangeText8').text("Valor: "+$(this).val());
				    });
					$('#rang9').on('input change', function () {
				        $('#rangeText9').text("Valor: "+$(this).val());
				    });
					$('#rang10').on('input change', function () {
				        $('#rangeText10').text("Valor: "+$(this).val());
				    });
					$('#rang11').on('input change', function () {
				        $('#rangeText11').text("Valor: "+$(this).val());
				    });
					$('#rang12').on('input change', function () {
				        $('#rangeText12').text("Valor: "+$(this).val());
				    });
	// 			}else if($('#selActividad').val() == '2'){
	// 				$('#selRecurso').append('<option value="5">Recurso 2A</option>');
	// 				$('#selRecurso').append('<option value="6">Recurso 2B</option>');
	// 				$('#selRecurso').append('<option value="7">Recurso 2C</option>');
	// 				$('#selRecurso').append('<option value="8">Recurso 2D</option>');
	// 				var check1 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="5"> Recurso 2A</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang5"></input><label id="rangeText5" value="Valor: 0" /></div>');
	// 				var check2 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="6"> Recurso 2B</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang6"></input><label id="rangeText6" value="Valor: 0" /></div>');
	// 				var check3 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="7"> Recurso 2C</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang7"></input><label id="rangeText7" value="Valor: 0" /></div>');
	// 				var check4 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="8"> Recurso 2D</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang8"></input><label id="rangeText8" value="Valor: 0" /></div>');
	// 				check1.appendTo('#dvRecurso');
	// 				check2.appendTo('#dvRecurso');
	// 				check3.appendTo('#dvRecurso');
	// 				check4.appendTo('#dvRecurso');
	// 				$('#rang5').on('input change', function () {
	// 			        $('#rangeText5').text("Valor: "+$(this).val());
	// 			    });
	// 				$('#rang6').on('input change', function () {
	// 			        $('#rangeText6').text("Valor: "+$(this).val());
	// 			    });
	// 				$('#rang7').on('input change', function () {
	// 			        $('#rangeText7').text("Valor: "+$(this).val());
	// 			    });
	// 				$('#rang8').on('input change', function () {
	// 			        $('#rangeText8').text("Valor: "+$(this).val());
	// 			    });
	// 			}else if($('#selActividad').val() == '3'){
	// // 				$('#selRecurso').append('<option value="9">Recurso 3A</option>');
	// // 				$('#selRecurso').append('<option value="10">Recurso 3B</option>');
	// // 				$('#selRecurso').append('<option value="11">Recurso 3C</option>');
	// // 				$('#selRecurso').append('<option value="12">Recurso 3D</option>');
	// 				var check1 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="9"> Recurso 3A</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang9"> </input><label id="rangeText9" value="Valor: 0" /></div>');
	// 				var check2 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="10"> Recurso 3B</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang10"> </input><label id="rangeText10" value="Valor: 0" /></div>');
	// 				var check3 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="11"> Recurso 3C</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang11"> </input><label id="rangeText11" value="Valor: 0" /></div>');
	// 				var check4 = $('<div><input type="checkbox" id="checkRecurso" name="checkRecurso" value="12"> Recurso 3D</input> <input type="range" min="0" max="100" value="0" class="slider" id="rang12"> </input><label id="rangeText12" value="Valor: 0" /></div>');
	// 				check1.appendTo('#dvRecurso');
	// 				check2.appendTo('#dvRecurso');
	// 				check3.appendTo('#dvRecurso');
	// 				check4.appendTo('#dvRecurso');
	// 				$('#rang9').on('input change', function () {
	// 			        $('#rangeText9').text("Valor: "+$(this).val());
	// 			    });
	// 				$('#rang10').on('input change', function () {
	// 			        $('#rangeText10').text("Valor: "+$(this).val());
	// 			    });
	// 				$('#rang11').on('input change', function () {
	// 			        $('#rangeText11').text("Valor: "+$(this).val());
	// 			    });
	// 				$('#rang12').on('input change', function () {
	// 			        $('#rangeText12').text("Valor: "+$(this).val());
	// 			    });
	// 			}
	    		 
	    	});
	    
	    function intento(){
	    	//displayData(recursos);
	      	//tfvis.show.modelSummary({name: 'Modelo de Clasificacion'}, model);
	
	    }
	    
	    function consultar(){
	//     	$.ajax({
	//     		url: 'http://localhost:8080/alumno/listalumnos/'+$('#fechaConsulta').val(),
	//     		success: function(respuesta) {
	//     			console.log(respuesta);
	//     		},
	//     		error: function() {
	//     	        console.log("No se ha podido obtener la información");
	//     	    }
	//     	});
	//     	$('#alumnosTable').empty();
	//         $('#myTable').empty();
	
			if($.trim($('#fechaConsulta').val()) == '' ){
				alert('Debe ingresar una fecha para la consulta');
			}
			var ff = $('#fechaConsulta').val().split('/');
			var formattedDate = new Date(ff[2]+'/'+ff[1]+'/'+ff[0]);
			var d = formattedDate.getDate();
			var m =  formattedDate.getMonth();
			m += 1;  // JavaScript months are 0-11
			var y = formattedDate.getFullYear();
			
			var fecha = "" + pad(d, 2) + pad(m, 2) + y;
	    	var table = $('#alumnosTable').DataTable({
	   			"sAjaxSource": "/alumno/listalumnos/"+fecha,
	   			"sAjaxDataProp": "",
	   			"order": [[ 0, "asc" ]],
	   			"paging": false,
	   			"bDestroy": true,
	   			"aoColumns": [
	   			    { "mData": "id"},
	   			 	{ "mData": "persona.documento" },
	   			 	{ "mData": "persona.name" },   				  
	   				{ "mData": "persona.email" },
	   				{ "mData": "persona.telefono" },
	   				{ "mData": "calificado" },
	   	            {"mRender": function (data, type, full) {
	   	            	if(full.calificado == 'NO'){
	   	            		return '<a href="#" onclick="abrirCalificacion('+full.id+',\''+full.persona.name+'\','+full.persona.documento+')" class="btn btn-primary ImprimirTicket">Calificar</a>'
	   	         		}else{
	   	         			return 'Calificado';		
	   	         		}
// 	                 return '<a href="#" onclick="abrirCalificacion('+full.id+',\''+full.persona.name+'\','+full.persona.documento+')" class="btn btn-primary ImprimirTicket">Calificar</a>'
	                 }
	   	            },
	   	         	{"mRender": function (data, type, full) {
	   	         		
	   	         		if(full.calificado == 'NO'){
	   	         			return 'NO';
	   	         		}else{
	   	         			return '<a href="#" onclick="abrirPrediccion('+full.id+',\''+full.persona.name+'\','+full.persona.documento+')" class="btn btn-primary ImprimirTicket">Predecir</a>'		
	   	         		}
	                 
	                 }
	   	            }
	   			],
	   			
	   	 })
	    }
	    
	    function pad (str, max) {
	    	  str = str.toString();
	    	  var length_str = str.length;
	    	  var var_mx = parseInt(max); 
	    	  if(length_str < var_mx){
	    		  return pad("0" + str, max);  
	    	  }else
	    		  return str;
	    	}
	    
	    function grabarClase(){
	    	
	    	var ff = $('#fechaConsulta').val().split('/');
			var formattedDate = new Date(ff[2]+'/'+ff[1]+'/'+ff[0]);
			var d = formattedDate.getDate();
			var m =  formattedDate.getMonth();
			m += 1;  // JavaScript months are 0-11
			var y = formattedDate.getFullYear();
			
			var fech = "" + pad(d, 2) + pad(m, 2) + y;
			
			var recursos = [];
			var valores = "";
			var rsc = "";
			
			$.each($("input[name='checkRecurso']:checked"), function(){
				recursos.push($(this).val());
	        });
			
			$.each(recursos, function( index, value ) {
				  if(index==0){
						rsc = recursos[index];
						valores= $('#rang'+recursos[index]).val()
					}else{
						rsc += ","+ recursos[index];
						valores += ","+ $('#rang'+recursos[index]).val()
					}
				});
			
	    	$.ajax({
	    		url: 'http://localhost:8080/alumno/grabarClase',
	    		type:"POST",
	    		data:JSON.stringify({"fecha":fech, "idAlumno":$('#idAlumno').val(), "actividad":$('#selActividad').val(), "recursos":rsc, "valores":valores }),
	    		contentType:"application/json; charset=utf-8",
	    		dataType:"json",
	    		success: function(respuesta) {
		    			console.log(respuesta);
		    			$.ajax({
		    	    		url: 'http://localhost:8080/alumno/getalumno/'+fech+'/1/'+$('#idAlumno').val(),
		    	    		type:"GET",
		    	    		success: function(respuesta) {
		    	    			console.log(respuesta);
		    	    			var val1 = respuesta.val1;
		    	    			var val2 = respuesta.val2;
		    	    			var val3 = respuesta.val3;
		    	    			var val4 = respuesta.val4;
		    	    			var val5 = respuesta.val5;
		    	    			var val6 = respuesta.val6;
		    	    			var val7 = respuesta.val7;
		    	    			var val8 = respuesta.val8;
		    	    			var val9 = respuesta.val9;
		    	    			var val10 = respuesta.val10;
		    	    			var val11 = respuesta.val11;
		    	    			var val12 = respuesta.val12;
		    	    			
		    	    			// 80% data para entrenamiento y 20% para pruebas
		    						var arry = [val1, val2, val3, val4, val5, val6, val7, val8, val9, val10, val11, val12];
		    						console.log('arry', arry);
		    						const input = tf.tensor2d(arry, [1, 12]);
		    						const prediccion = model.predict(input).dataSync();
		    						console.log('Prediccion', prediccion);
		    						 
		    						const data = [
		    						  {index: 0, value: (prediccion[0] * 100).toFixed(2)},
		    						  {index: 1, value: (prediccion[1] * 100).toFixed(2)},
		    						  {index: 2, value: (prediccion[2] * 100).toFixed(2)},
		    						  {index: 3, value: (prediccion[3] * 100).toFixed(2)},
		    						  {index: 4, value: (prediccion[4] * 100).toFixed(2)},
		    						  {index: 5, value: (prediccion[5] * 100).toFixed(2)},
		    						  {index: 6, value: (prediccion[6] * 100).toFixed(2)},
		    						  {index: 7, value: (prediccion[7] * 100).toFixed(2)}
		    						];
		    						
		    						// Render to visor
		    						const surface = { name: 'Bar chart', tab: 'Resultados' };
		    						tfvis.render.barchart(surface, data);
		    						
		    						const data2 = {
		    						  values: [[(prediccion[0] * 100).toFixed(2), (prediccion[1] * 100).toFixed(2), (prediccion[2] * 100).toFixed(2)],
		    						           [(prediccion[3] * 100).toFixed(2), (prediccion[4] * 100).toFixed(2), (prediccion[5] * 100).toFixed(2)], 
		    						           [(prediccion[6] * 100).toFixed(2), (prediccion[7] * 100).toFixed(2)]
		    						           ]
		    						  };        
		    						// Render to visor
		    						const surface2 = { name: 'Confusion Matrix with Excluded Diagonal', tab: 'Resultados' };
		    						
		    						tfvis.render.confusionMatrix(surface2, data2, {
		    						  shadeDiagonal: true
		    						});
		    	    			
		    	    			
		    		    			const porcEstilo1 = (prediccion[0]*100).toFixed(2);
		    		    			const porcEstilo2 = (prediccion[1]*100).toFixed(2);
		    		    			const porcEstilo3 = (prediccion[2]*100).toFixed(2);
		    		    			const porcEstilo4 = (prediccion[3]*100).toFixed(2);
		    		    			const porcEstilo5 = (prediccion[4]*100).toFixed(2);
		    		    			const porcEstilo6 = (prediccion[5]*100).toFixed(2);
		    		    			const porcEstilo7 = (prediccion[6]*100).toFixed(2);
		    		    			const porcEstilo8 = (prediccion[7]*100).toFixed(2);
		    		    			
		    		    			var valores = [porcEstilo1,porcEstilo2,porcEstilo3,porcEstilo4,porcEstilo5,porcEstilo6,porcEstilo7,porcEstilo8];
		    		    			var recursos = "1,2,3,4,5,6,7,8";
		    		    			var rsc = "";
		    		    			
		    		    			$.each(valores, function( index, value ) {
		    		    				  if(index==0){
		    		    						rsc = valores[index];
		    		    					}else{
		    		    						rsc += ","+ valores[index];
		    		    					}
		    		    				});
		    		    			
		    		    	    	$.ajax({
		    		    	    		url: 'http://localhost:8080/estiloAlumno/grabarEstilo',
		    		    	    		type:"POST",
		    		    	    		data:JSON.stringify({"fecha":fech, "idAlumno":$('#idAlumno').val(), "recursos":recursos, "valores":rsc }),
		    		    	    		contentType:"application/json; charset=utf-8",
		    		    	    		dataType:"json",
		    		    	    		success: function(respuesta) {
		    		    		    			console.log(respuesta);
		    		    		    			
		    		    		    			consultar();
		    		    		    		},
		    		    		    		error: function() {
		    		    		//     	        console.log("No se ha podido obtener la información");
		    		    		    			consultar();
		    		    		    	    }
		    		    		    	});
		    	    			
		    	    		},
		    	    		error: function() {
		    	    	        console.log("No se ha podido obtener la información");
		    	    	        //tfvis.show.modelSummary({name: 'Modelo de Predicción'}, model);
		    	    	    }
		    	    	});
		    			
		    		},
		    		error: function() {
		//     	        console.log("No se ha podido obtener la información");
						consultar();
		    	    }
		    	});
		//     	$('#alumnosTable').empty();
		//         $('#myTable').empty();
		
		    }	    
	    
		    var model;
		    var tensorData;
		    var testTensor;
		    
		   async function run() {
		   	  $.ajax({
		       		url: 'http://localhost:8080/alumno/getDataClaseAlumnos',
		       		type:"GET",
		       		success: function(respuesta) {
		       			console.log('RUN DATA:', respuesta);
		       	    	  $(".loader").css("visibility", "visible");
		       	    		
		       	    		const [xTrain, yTrain, xTest, yTest] = getEstilosData(.2);
							entrenarModelo(xTrain, yTrain, xTest, yTest);
		       	    	  console.log('Done Training');
		       	    	  $(".loader").css("visibility", "hidden");
		       	    	  $(".loader2").css("visibility", "hidden");
		       	    	  
		       	    	  document.getElementById("myDiv").style.display = "block";
		       			
		       		},
		       		error: function() {
		       	        console.log("No se ha podido obtener la información");
		       	    }
		       	});
		   	}
	    	
		    const ESTILOS = ['Estilo 1', 'Estilo 2', 'Estilo 3', 'Estilo 4', 'Estilo 5', 'Estilo 6', 'Estilo 7', 'Estilo 8'];
	   		const ESTILOS_NRO = ESTILOS.length;
	
	   		// SET DE DATOS PARA LOS ESTILOS DE APRENDIZAJE
	   		const ESTILOS_DATA = [
	   		    [0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.8, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.7, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.9, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.7, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.8, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	   		    [0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
	
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    [0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
	   		    
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	   		    [0, 0, 0.9, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 2],
	
	   		    [0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.9, 0.7, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.8, 0.8, 0, 0, 0, 0, 0, 0, 3],
	   		    [0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 0, 3],
	
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.7, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 0, 4],
	   		    [0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 0, 4],
	
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 0, 5],
	
	   		    [0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.7, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 0, 6],
	   		    [0, 0, 0, 0, 0, 0, 0, 0.8, 0.9, 0, 0, 0, 6],
	
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.8, 0.9, 0, 0, 7],
	   		    [0, 0, 0, 0, 0, 0, 0, 0, 0.9, 0.9, 0, 0, 7],
	   		    
	   			[0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    [0, 0, 0, 0.9, 0, 0, 0, 0, 0, 0, 0.9, 0, 2],
	   		    
	   		 	[0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		    [0, 0, 0, 0, 0, 0, 0.9, 0, 0, 0, 0, 0.9, 4],
	   		
	   		];
		   
	    	function extraerInputs(data) {
	    		let inputs = []
	    		inputs = data.map(d => [d.recurso1, d.recurso2, d.recurso3, d.recurso4])
	    		return inputs;
	    	}
	
	    	function createModelFunction() {
	    		const model2 = tf.sequential();
				const ratioAprendizaje = .01;
				const numEpochs = 60;
				const optimizer = tf.train.adam(ratioAprendizaje);
				// 16 neuronas en la capa oculta
				model2.add(tf.layers.dense({
					units: 16, 
					activation: 'sigmoid', 
					inputShape: [xTrain.shape[1]]
				}));
				// 8 neuronas de salida
				model2.add(tf.layers.dense({
					units: 8,
					activation: 'softmax'
				}));
				return model2;
	    	}
	    	
	    	function getEstilosData(testDividir) {
	    	    return tf.tidy(() => {
	    	        const datosPorClase = [];
	    	        const resultadoPorClase = [];	    	        
	    	        
					$.each(ESTILOS, (index, element) => {
						datosPorClase.push([]);
	    	            resultadoPorClase.push([]);
	    	        });

	    	        for (const fila of ESTILOS_DATA) {
	    	            const prediccion = fila[fila.length - 1];
	    	            const data = fila.slice(0, fila.length - 1); //
	    	            datosPorClase[prediccion].push(data); //
	    	            resultadoPorClase[prediccion].push(prediccion); //
	    	        }

	    	        const xTrains = [];
	    	        const yTrains = [];
	    	        const xTests = [];
	    	        const yTests = [];

	    	        $.each(ESTILOS, (index, element) => {
	    	        	const [xTrain, yTrain, xTest, yTest] = 
	    	                convertirATensores(datosPorClase[index], resultadoPorClase[index], testDividir);

	    	            xTrains.push(xTrain);
	    	            yTrains.push(yTrain);
	    	            xTests.push(xTest);
	    	            yTests.push(yTest);
	    	        });	    	     

	    	        const concatAxis = 0;
	    	        const test1 = xTrains;
	    	        const test2 = tf.concat(xTrains, concatAxis);
	    	        console.log('test1 concat', test1);
	    	        console.log('test2 concat', test2);
	    	        return [
	    	            tf.concat(xTrains, concatAxis), tf.concat(yTrains, concatAxis),
	    	            tf.concat(xTests, concatAxis), tf.concat(yTests, concatAxis)
	    	        ];

	    	    });
	    	}
	    	
	    	function convertirATensores (data, resultado, testDividir) {
	    	    const numEjemplos = data.length;
	    	    if (numEjemplos !== resultado.length) {
	    	        throw new Error('data y split tienen distintos numeros de ejemplos');
	    	    }
	    	    const numTestEjemplos = Math.round(numEjemplos * testDividir);
	    	    const numTrainEjemplos = numEjemplos - numTestEjemplos;

	    	    const nro_recursos = data[0].length;

	    	    // Creamos un tensor 2d para las entradas (recursos)
	    	    const xs = tf.tensor2d(data, [numEjemplos, nro_recursos]);
	    	    // Creamos un tensor 1D 
	    	    const ys = tf.oneHot(tf.tensor1d(resultado).toInt(), ESTILOS_NRO);
	    	    // Dividimos la data en sets de Entrenamiento y Test usando 'slice'
	    	    const xTrain = xs.slice([0, 0], [numTrainEjemplos, nro_recursos]);
	    	    const xTest = xs.slice([numTrainEjemplos, 0], [numTestEjemplos, nro_recursos]);
	    	    const yTrain = ys.slice([0, 0], [numTrainEjemplos, ESTILOS_NRO]);
	    	    const yTest = ys.slice([0, 0], [numTestEjemplos, ESTILOS_NRO]);

	    	    return [xTrain, yTrain, xTest, yTest];
	    	}
	    	
	    	async function entrenarModelo(xTrain, yTrain, xTest, yTest) {
				model = tf.sequential();
				const ratioAprendizaje = .01;
				const numEpochs = 60;
				const optimizer = tf.train.adam(ratioAprendizaje);
				// 16 neuronas en la capa oculta
				model.add(tf.layers.dense({
					units: 16, 
					activation: 'sigmoid', 
					inputShape: [xTrain.shape[1]]
				}));
				// 8 neuronas de salida
				model.add(tf.layers.dense({
					units: 8,
					activation: 'softmax'
				}));

				model.compile({
					optimizer: optimizer,
					loss: 'categoricalCrossentropy',
					metrics: ['accuracy']
				});

				const historico = await model.fit(xTrain, yTrain, {
					epochs: numEpochs,
					validationData: [xTest, yTest]
				,
					callbacks: tfvis.show.fitCallbacks(
						{ name: 'Training Performance' },
						['loss', 'categoricalCrossentropy'], 
						{ height: 200, callbacks: ['onEpochEnd'] }
					)
				});

// 				return model2;
			}

			async function predecir() {
				// 80% data para entrenamiento y 20% para pruebas
				const [xTrain, yTrain, xTest, yTest] = getEstilosData(.2);
				model = await EntrenarModelo(xTrain, yTrain, xTest, yTest);
				
				const input = tf.tensor2d([0.79, 0.85, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 12]);
				const prediccion = model.predict(input).dataSync();
				console.log('Prediccion', prediccion);
				 
				const data = [
				  {index: 0, value: (prediccion[0] * 100).toFixed(2)},
				  {index: 1, value: (prediccion[1] * 100).toFixed(2)},
				  {index: 2, value: (prediccion[2] * 100).toFixed(2)},
				  {index: 3, value: (prediccion[3] * 100).toFixed(2)},
				  {index: 4, value: (prediccion[4] * 100).toFixed(2)},
				  {index: 5, value: (prediccion[5] * 100).toFixed(2)},
				  {index: 6, value: (prediccion[6] * 100).toFixed(2)},
				  {index: 7, value: (prediccion[7] * 100).toFixed(2)}
				];
				
				// Render to visor
				const surface = { name: 'Bar chart', tab: 'Resultados' };
				tfvis.render.barchart(surface, data);
				
				const data2 = {
				  values: [[(prediccion[0] * 100).toFixed(2), (prediccion[1] * 100).toFixed(2), (prediccion[2] * 100).toFixed(2)],
				           [(prediccion[3] * 100).toFixed(2), (prediccion[4] * 100).toFixed(2), (prediccion[5] * 100).toFixed(2)], 
				           [(prediccion[6] * 100).toFixed(2), (prediccion[7] * 100).toFixed(2)]
				           ]
				  };        
				// Render to visor
				const surface2 = { name: 'Confusion Matrix with Excluded Diagonal', tab: 'Resultados' };
				
				tfvis.render.confusionMatrix(surface2, data2, {
				  shadeDiagonal: true
				});
			}
	    	
		
	    	document.addEventListener('DOMContentLoaded', run);
	
	    	/*]]>*/
    </script>

</body>
</html>